<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".ReadSmsApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="ReadSmsApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        
        <!-- Temporary Diagnosis Activity -->
        <activity
            android:name=".DiagnosisActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Main launcher intent remains here for now, logic inside Main will redirect -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ConfigActivity" android:exported="false" />
        <activity android:name=".AboutActivity" android:exported="false" />

        <receiver android:name=".SmsReceiver"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        
        <service android:name=".SmsMonitorService" android:exported="false" />

    </application>

</manifest>
